<div><div>



				<h4 class="modal-title">MDM proxy configurator</h4>
			</div>
			<div class="modal-body">
				<div class="float-right">

				</div>
                <p class="float-left"> Модуль конфигурирования виртуальных хостов для мажордомо.<br>
				Обсуждение модуля <a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=" target="_blank">здесь</a>.<br>

				</p>
				<hr size="1">
				<p class="float-left">
				
				<ul>
                    Тип сервера: [#SERVER#]<br>
<br>

            <li>update для apache2.conf :  
 [#if conftext==""#] <font color="red"><b>не установлен </b><br>
 Для корректной работы должен быть выполнен следующий код в консоли:<br>[#cmd#]
</font>
[#else#] <b>установлен </b> [#endif#]

</li>

<br>
                    Установленные модули: <br>
                    <li>mod_proxy:  [#if mod_proxy=""#] <font color="red"><b>не установлен </b></font>[#else#] <b>установлен </b> [#endif#]</li>
                    <li>mod_proxy_html:  [#if mod_proxy_html=""#] <font color="red"><b>не установлен </b> </font>[#else#] <b>установлен </b> [#endif#]</li>
                    <li>mod_proxy_http:  [#if mod_proxy_http=""#] <font color="red"><b>не установлен </b> </font>[#else#] <b>установлен </b> [#endif#]</li>
                    <li>mod_rewrite:  [#if mod_rewrite=""#] <font color="red"><b>не установлен </b> </font>[#else#] <b>установлен </b> [#endif#]</li>
                    <li>mod_substitute:  [#if mod_substitute=""#] <font color="red"><b>не установлен </b> </font>[#else#] <b>установлен </b> [#endif#]</li>
                    <li>mod_proxy_balancer:  [#if mod_proxy_balancer=""#] <font color="red"><b>не установлен </b> </font>[#else#] <b>установлен </b> [#endif#]</li>
                    <li>mod_alias:  [#if mod_alias=""#] <font color="red"><b>не установлен </b> </font>[#else#] <b>установлен </b> [#endif#]</li>

<!--
                    <li></li>
                    <li>[#MODULES#]</li>
    -->


				</ul>


</p>

				<hr size="1">
				<ul>
                    Список виртуальных хостов [#path#]:<br>
                    <li>[#hosts#] </li>

<!--
                    <li></li>
                    <li>[#MODULES#]</li>
    -->


				</ul>


				<hr size="1">

<!--<a href="" onclick="runtest()"> Протестировать конфиг [#servertype#]</a>  <br> -->
Результат тестирования конфигов: <BR>
[#if TESTCONFIG="Syntax OK" #] <font color="green">[#TESTCONFIG#]</font> <a href="?view_mode=restart_apache"> Перезапустить apache2 </a>
[#else#]
<font color="red">[#TESTCONFIG#]</font>
[#endif#]
<br><br>
systemctl: <br>
<pre>[#state#]</pre>
<!--


<script type="text/javascript">
    function runtest() {

// clearTimeout(logTimer);

// window.clearTimeout(logTimer);
//  clearTimeout(deviceRefreshTimer[#ID#]);
        var url="/ajax/mdmproxy.html?op=testcfg";

        $.ajax({
            url: url,
            cache: false,
            success: function(html){
                $("#auth_log").html(html);
            }
        });

}
   runtest();

    
</script>

<div  id="viewlog" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true" height="100"> 


    <div>


    <p  id="auth_log" >    </p>

   </div>

</div>
-->



			</div>

                </p>			

